<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <title>Counter</title>
<meta name='description' content=''>
<link rel='stylesheet' type='text/css' href='/css/index.css'>
</head>
<body>
    <h1 class ='counter_title'>Counter</h1>
    <h2 class ='counting'><%= count %> times</h2>
    <div class='links'>
        <a href='add2'>Add 2</a>
        <a href='clear_count'>Reset Counter</a>
    </div>
</html>