<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Results</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/results.css" />
</head>
<body>
    <h1>Survey Form</h1>
    <div class='form'>
        <label>Your Name: </label>
        <span><%= info.name %></span>
        <br><br>
        <label>Dojo Location</label>
        <span><%= info.location %></span>
        <br><br>
        <label>Favorite Language</label>
        <span><%= info.language %></span>
        <br><br>
        <label>Comment(optional)<label>
        <span><%= info.comment %></span>
        <br><br>
        </div>
    <a href='/'>Back to home</a>
</body>
</html>