h1.main_title{
    color:royalblue;
    text-align: center;
}
a.links{
    display: inline-block;
    vertical-align: middle;
    margin: 20px 30px;
    height: 60px;
    width: 240px;
    border: 1px solid rosybrown;
    border-radius: 10px;
    background-color: lightgoldenrodyellow;
    color: royalblue;
    padding: 10px;
    text-align: center;
    font-size: x-large;
}