.wrapper{
    border:2px solid blue;
    border-radius:20px;
    margin-top:20%;
    padding:20px;
}

h1{
    text-align:center;
}
h5{
    color:red;
}

form{
    margin-left:30%;
}
input{
    color:royalblue;
    border-radius:10px;
}
button{
    border-radius:10px;
}